
body {
	margin: 0;
	color: black;
	font-family: 'Lato';
}

/*inspired by https://www.w3schools.com/howto/howto_css_mixed_columns.asp */
.col3{
	float:left;
	width: 33%;
}

.col2{
	float:left;
	width: 50%;
	text-align: center;
	padding-top: 150px;
}

.row:after{
	content:'';
	clear:both;
	display: table;
}

.row .left{
	text-align: left;
	padding-top: 15px;
}

.row .right{
	float:right;
	padding-top: 15px;
}

.title {
	font-size: 48px;
	padding: 25px 100px;
}

.option{
	text-align: center;
	margin: 25px;
}

.option:hover {
  filter: brightness(85%);
}

/* inpspired by https://www.w3schools.com/howto/howto_css_image_overlay.asp */
.option:hover .text {
  filter: brightness(100%);
  opacity: 1;
}

.text {
  color: white;
  font-weight: bolder;
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
}

.basic{
	font-size: 18px;
	padding: 10px 100px;
	display: inline-block;
}

.bold{
	font-size: 24px;
	font-weight: 700;
}

/*inspired by https://www.w3schools.com/howto/howto_css_full_page.asp */
#home {
	background-image: url("img/background_bun.jpg");
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	display: block;
	text-align: center;
}

#home .center {
	text-align: center;
	color: white;
	font-size: 96px;
	font-weight: 900;
	margin: auto;
	position: absolute;
	top: 20vw;
	right: 50vh;
}

#home .caption {
	font-style: italic;
	font-size: 24px;
}

.button{
	text-decoration: none;
	background-color: #427FC0;
	border: none;
	color: white !important;
	padding: 15px 30px;
	font-weight: 700;
	font-size: 36px;
	margin-top: 20px;
	display:inline-block;

}

.cart-image{
  padding: 50px;
  width: 200px;
}

/*********** HEADER ************/
header {
	text-align: center;
	color: black;
	font-family: 'Lato';
}

h1 {
	margin: 0;
}

/*********** navigation bar ************/
/*inspired by https://www.w3schools.com/howto/howto_js_topnav.asp*/

#navbar {
	background-color: #F7F2E8;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
}

#navbar a{
	float: left;
	color: black;
	text-align: center;
	padding: 14px 16px;
	font-size: 24px;
	text-decoration: none;
}

/*inrpised by https://github.com/creativetimofficial/material-kit/issues/107*/
.nav-image {
	width: 25px;
	height: 10px;
	margin-top: -5px;
	margin-bottom: -5px;
}

/*********** navigation bar ************/
/*inspired by https://www.w3schools.com/css/css_dropdowns.asp */
.dropdown {
	float: none !important;
	text-align: right;
	position: relative;
	display: inline-block;
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 18px;
    padding: 5px 40px;
    margin: 15px 30px;

}

.dropbtn{
	background-color: #E5E5E5;
	color: black;
	padding: 15px 30px;
	font-size: 18px;
	border: none;
	text-align: right;
	margin-bottom: 0px;
}

